  /* Estilo para o menu fixo */
        h1 a {
            text-decoration: none;
            color: white;
        }

        h1 a:hover {
            color: #FFD700;
        }

        .menu-fixo {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #0056b3;
            color: white;
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        .menu-fixo .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        .menu-fixo ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }

        .menu-fixo ul li {
            margin: 0 15px;
        }

        .menu-fixo ul li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            transition: color 0.3s;
        }

        .menu-fixo ul li a:hover {
            color: #FFD700;
        }

        .menu-fixo .burger {
            display: none;
            flex-direction: column;
            cursor: pointer;
        }

        .menu-fixo .burger div {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 3px 0;
        }

        .menu-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 999;
        }

        .menu-overlay.active {
            display: flex;
        }

        .menu-overlay ul {
            list-style: none;
            text-align: center;
        }

        .menu-overlay ul li {
            margin: 20px 0;
        }

        .menu-overlay ul li a {
            text-decoration: none;
            color: white;
            font-size: 1.5em;
        }

        .btn-menu-darkmode{
            margin-left: 67%;
            margin-bottom: 1%;
        }

        @media (max-width: 768px) {
            .menu-fixo ul {
                display: none;
            }

            .menu-fixo .burger {
                display: flex;
            }

            .btn-menu-darkmode {
                display: none;
            }
        }

        @media (min-width: 769px) {
            .menu-overlay {
                display: none !important;
            }

            .menu-fixo ul {
                display: flex;
                position: static;
            }

            .menu-fixo .burger {
                display: none;
            }

            .btn-menu-darkmode {
                display: flex;
            }
        }

        body {
            margin-top: 60px;
        }